
/* This makes the body similar to the toy */
body {
    background-color: #a20f02;
    color: #f2e59f;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}

/* This makes the div heading similar to the toy */
#heading {
    font-size: x-large;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px #53490c;
}

/* This makes the div subheading similar to the toy */
#subheading {
    font-size: small;
    margin-bottom: 2%;
    text-shadow: 1px 1px #53490c;
}

/* This makes the reset button follow the UI style */
#reset {
    border: solid 1px black;
    background-color: #eae2e0;;
    margin-bottom: 2%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

/* This creates the container/display of the toy, setting it to be a grid with 16 rows and columns */
#container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    height: 400px;
    width: 80%;
    background-color: #eae2e0;
    border: 1px solid black;
    margin: 0 auto; 
}

/* This makes the link similar to the toy and in the left corner */
#github {
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: smaller;
    color: #f2e59f;
    text-shadow: 1px 1px #53490c;
}

/* This makes the link similar to the toy and in the right corner */
#history {
    float: right;
    margin-top: 3%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-size: smaller;
    color: #f2e59f;
    text-shadow: 1px 1px #53490c;
}

/* This makes the div for the left circle similar to the toy */
#leftCircle {
    background: #eae2e0;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin: 3%;
}

/* This makes the div for the right circle similar to the toy */
#rightCircle {
    background: #eae2e0;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
    margin: 3%;
}
